body{
background-color: black;
margin-top: 80px;
margin-left: 70px;
margin-right: 70px;
background-image:url(/home/azerus/Documents/dev/Projet-Mixd/image/contact-bg.jpg);

}

header{
display: flex;
justify-content: space-between;
min-height: 100vh;
}

#logo{
    line-height: 5px;
}

nav ul{
    display: flex;
    font-family:"brandon-grotesque",sans-serif;
}

nav ul li{
list-style: none;
margin-right: 50px;
}

nav a {
text-decoration: none;
color: white;
border-color: #fff;
}

.logo__tagline{

font-family: "brandon-grotesque",sans-serif;
font-weight: bold;
text-transform: uppercase;
letter-spacing: .2em;
color: white;
font-size: 14px;

}

h2{

color: white;
display: flex;


}