body{
background-color: #1b49be;
margin-top: 80px;
margin-left: 70px;
margin-right: 70px;
min-height: 100vh;
}

header{
display: flex;
justify-content: space-between;
padding-bottom: 0;
align-items: flex-end;
}

#logo{
    line-height: 5px;
}

nav ul{
    display: flex;
    font-family:"brandon-grotesque",sans-serif;
}

nav ul li{
list-style: none;
margin-right: 50px;
}

nav a {
text-decoration: none;
color: white;
border-color: #fff;
text-transform: uppercase;
}

nav a:hover {

border-bottom: 5px solid white;


}

.cuicui{

animation-name: bouya;
animation-duration: 4s;
position: relative;


}

@keyframes bouya{

0%{

left: 0px;
top: 0px;

}
25%{

left: 150px;
top: 0px;
}
50%{

left: 100px;
top: 0px;

}
75%{

left: 75px;
top: 0px;
}
100%{

left: 0px;
top: 0px;

}



}

h1{

font-size: 2em;
font-family:"brandon-grotesque",sans-serif;
text-transform: uppercase;
letter-spacing: .1em;
font-weight: bold;
text-align: right;
color: white;


}

img{
font-style: italic;
color: #666;

}

p{



color: white;
text-align: right;
font-style: normal;
font-size: 1.3em;
}

p3{

color: white;
text-align: right;
font-style: normal;
font-size: 1.3em;




}

.logo__tagline{

font-family: "brandon-grotesque",sans-serif;
font-weight: bold;
text-transform: uppercase;
letter-spacing: .2em;
color: white;
font-size: 14px;

}

#nom{

display: flex;
align-content: center;
justify-content: space-between;


}

#box{

justify-content: space-between;
text-align: left;

}

h4{

text-decoration: underline;
text-align: right;
color: white;
display: flex;
}

#all{

display: flex;
justify-content: space-between;
text-align: center;

}