body{
background-color: black;

}

#head{

display: flex;
justify-content: space-between;
min-height: 15vh;
padding-top: 80px;
padding-left: 70px;
margin-right: 12px;
}

#header{

display: flex;



}


#logo{
    line-height: 5px;
}

nav ul{
    display: flex;
    font-family:"brandon-grotesque",sans-serif;
}

nav ul li{
list-style: none;
margin-right: 50px;
}

nav a {
text-decoration: none;
color: white;
border-color: #fff;
animation-name: anim;
animation-duration: 4s;
}

nav a:hover {

border-bottom: 4px solid white;



}


.logo__tagline{

font-family: "brandon-grotesque",sans-serif;
font-weight: bold;
text-transform: uppercase;
letter-spacing: .2em;
color: white;
font-size: 14px;
animation-name: anim;
animation-duration: 4s;

}

h2{

color: white;
display: flex;
animation-name: anim;
animation-duration: 4s;


}

#form{

display: flex;
align-items: center;
background: grey;
width: 100%;
justify-content: center;
min-height: 100vh;
border-bottom: whitesmoke;
position: relative;
animation-name: anim;
animation-duration: 4s;


}

.logo{


animation-name: anim;
animation-duration: 2s;
position: relative;


}


.nav{

animation-name: anim;
animation-duration: 2s;
position: relative;
 

}

  @keyframes anim {
   0%  {opacity:0;}
   100% {opacity:1;}

}
@-moz-keyframes anim {
   0%  {opacity:0;}
   100% {opacity:1;}
}
@-webkit-keyframes anim {
   0%  {opacity:0;}
   100% {opacity:1;}
}
@-o-keyframes anim {
   0%  {opacity:0;}
   100% {opacity:1;}
}
@-ms-keyframes anim {
   0%  {opacity:0;}
   100% {opacity:1;}
}

#nom{

display: flex;

}

#prenom{

display: flex;

}

#age{

display: flex;

}

#region{

    display: flex
}

#email{

display: flex;

}

#mdp{

display: flex;

}

