body{
background-color: black;

}

#head{

display: flex;
justify-content: space-between;
min-height: 100vh;
padding-top: 80px;
padding-left: 70px;
margin-right: 5px;
background-image:url(/home/azerus/Documents/dev/Projet-Mixd/image/contact-bg.jpg);
}

header{
    display: flex;
    flex-direction: column;
}
    

#logo{
    line-height: 5px;
}

nav ul{
    display: flex;
    font-family:"brandon-grotesque",sans-serif;
}

nav ul li{
list-style: none;
margin-right: 50px;
}

nav a {
text-decoration: none;
color: white;
border-color: #fff;
}

nav a:hover {

border-bottom: 4px solid white;



}


.logo__tagline{

font-family: "brandon-grotesque",sans-serif;
font-weight: bold;
text-transform: uppercase;
letter-spacing: .2em;
color: white;
font-size: 14px;

}

h2{

color: white;
display: flex;


}

#form{

display: flex;
align-items: center;
background: blueviolet;
width: 70%;
justify-content: center;
min-height: 100vh;

}

#nom{

display: flex;

}

#prenom{

display: flex;

}

#age{

display: flex;

}

#region{

    display: flex
}

#email{

display: flex;

}

#mdp{

display: flex;

}

